body {

}
hr {
    border-top-color: darkgrey;
}

input[type="number"]
{
    -webkit-appearance: textfield !important;
    -moz-appearance:textfield !important;
    margin: 0;
}

.fancybox-slide--iframe .fancybox-content {
    /* width  : 800px;
    height : 600px;
    max-width  : 80%; */
    max-height : 100%;
    /* margin: 0; */
}

.flex-container {
    display: flex;
    justify-content: center;
  }

  .cursor {
    cursor: pointer;
  }


  .nowrap {
    white-space:nowrap;
}