/* input, img, button {
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.64);
} */
/* div {
    border: 1px solid red;
} */
body {
    background: rgb(14, 39, 62);
}

h1, h4 {
    text-align: center;
}

div#inferior-tabla {
    /* background-color: darkcyan; */
    padding: 1rem;
    /* margin: 3rem 0; */
    border-radius: 10px;
}

.td-acciones {
    /* display: flex;
    justify-content: space-between; */
    font-size: 20px;
    min-width: 192px;
}
/* .td-descripcion {
    min-width: 180px;
} */

.td-acciones i {
    margin: 0 1rem;
}


.flex-container {
    display: flex;
    justify-content: center;
}

table i {
    text-shadow: 0px 0px 0px lavender;
}

.usuario {
    color: cornflowerblue;
}

.modificar {
    color: indigo;
}

.eliminar {
    color: darkred;
}

.vaciar {
    color: #16b511;
}



#inferior-tabla {
    text-align: center;
}

.txt-left {
    text-align: left;
    padding: 0 0.5rem;
    width: 50%;
}

table {
    min-height: 77px;
}

thead {
    /* background-color: dodgerblue; */
    background-color: #165d9f;
}

tbody {
    color: black;
    background-color: lavender;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: white;
    background-color: #1e7dd6;
}

tbody th, td {
    padding: 0.5rem 1rem !important;
}

table i:hover {
    color: white;
}

#btn-fontsize {
    text-align: right;
}
#btn-fontsize i {
    margin-left: 10px;
}

 
.lam {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 3.25rem;
    border-radius: 0.6rem;
    box-shadow: 0rem 0.5625rem 0.9375rem 0.3125rem rgba(0,0,0,0.64);
    background: #1c354c;
}

.container {
    /* background: ghostwhite; */
    /* background: #2B3E50; */
    /* color: black; */
}


button#btn-ingresar {
    margin-top: 20px;
}

button#btn-otro {
    margin-left: 10px;
}

div#dec {
    display: flex;
}