* {
    box-sizing: border-box;
  }

  /* div {
      border: 1px solid red;
  } */

#encabezado > h1{
    font-size: 48px;
    margin: 0;
    margin-bottom: 3px;
    padding-left: 20px;
}
#titulo {
    float: left;
}
#btn-cerrar {
    float: right;
    border-radius: 50px;
    font-size: 20px;
    width: 45px;
    height: 45px;
}


input {
    border-style: none;
}

.lam {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    /* background-color: darkslategray; */
    box-shadow: 0px 9px 15px 5px rgba(0,0,0,0.64);
    /* border: 2px solid white; */
}


input, img, button {
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.64);
}
 #contenedor{
     display: flex;
 }
 .columna {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

#columna1 {
    width: 60%;
}

#fila1{
    display: flex;
    justify-content: space-between;
}


#div-detalle {
    height: 40rem;
}

#div-tabla-detalle {
    height: 32rem;
    overflow: auto;
    background-color: gainsboro;
    border-radius: 10px;
}

#tbl-detalle{
    font-size: 16px;
    color: black;
}

#div-boton-detalle{
    padding: 10px 0;
}


#columna2 {
    width: 40%;
}

#div1-1 {
    padding: 0 1em;
}

#div1-1 > input {
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 5px;
    color: black;
    width: 100%;
}

#promo {
    margin: 0 !important;
}

#codigo {
   font-size: 21px;
   border-radius: 10px;
}
#nombre {
   font-size: 26px;
}




#div1-3 {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#div1-3 > button, #btn-buscar {
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
}

#img-producto {
   height: 164px;
   width: 164px;
   border-radius: 10px;
   /* display: none; */
}


div#div2-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div#div2-1 > * {
    font-size: 47px;
    border-radius: 10px;
}

div#div2-1 > input {
    width: 217px;
    height: 60px;
    text-align: center;
}

div#div2-1 > button {
    width: 76.4px;
}
div#div3-1 {
    display: flex;
    justify-content: space-between;
}
div#div3-1 > * {
    font-size: 40px;
    border-radius: 10px;
}
div#div3-1 > :not(button) {
    font-size: 50px;
}

div#div3-1 > input {
    width: 320px;
    text-align: center;
}


#btn-agregar-prod {
    border-radius: 4px;
}



.btn-pago {
    height: 100px;
    font-size: 50px;
}

#botonera button {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}


.total {
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input.input-total {
    width: 60%;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
}

.pago-efectivo {
    margin-top: 20px;
}





/*-------------------------------------------------------------*/

  #suggestions {
    box-shadow: 10px 10px 20px 2px rgba(0,0,0,0.3);
    height: auto;
    position: absolute;
    top: 180px;
    z-index: 9999;
    width: 340px;
}
 
#suggestions .suggest-element {
    /* font-size: 26px; */
    color: black;
    background-color: #EEEEEE;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 10px 0 0 15px;
    width: 100%;
    height: 60px;
    float: left;
}





.modal-backdrop {
    width: 100%;
    height: 100%;
    /* background: none; */

}