/* input, img, button {
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.64);
} */
/* div {
    border: 1px solid red;
} */

body {
    background: rgb(14, 39, 62);
}





h1,h4 {
    text-align: center;
}
#contenedor{
    margin-top: 2rem;
    background: #1c354c;
}

.lam {
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    border-radius: 0.6rem;
    box-shadow: 0rem 0.5625rem 0.9375rem 0.3125rem rgba(0,0,0,0.64);
    /* border: 2px solid; */
}

#btn-fontsize {
    /* text-align: right; */
    position: absolute;
    right: 30px;
}
#btn-fontsize i {
    margin-left: 10px;
}

#fancybox-content {
    width: 100% !important;
}

#divinputs {
    text-align: right;
    font-size: 25px;
}

input {
    text-align: right;
}

.inputs-bal  {
    width: 200px;
    /* height: 100%; */
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid;
    border-color: darkcyan;
    padding: 7px;
}

#div-input-entrega {
    border-bottom: 4px solid;
    padding-bottom: 2rem;
}

div#divinputs .row {
    padding: 1rem 0;
}

#div-balance {
    border-top: 4px solid;
}

#input-balance{
    transition: 1s;
}

.input-sumador {
    width: 100%;
    background: transparent;
    color: white;
    border:none;
    border-bottom: 2px solid white;
    padding: 7px;
    /* border-radius: 10px; */
}
#tbl-sumador {
    font-size: 17px !important;
    /* font-weight: bold; */
}


.multiplo {
    width: 90px;
    text-align: center;
}

#titulo-sumador {
    text-align: center;
    font-size: 18px;
}

#div-sumador {
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: darkcyan;
}

#icon-calc {
    color: white;
}
#icon-calc:hover {
    color: darkcyan;
}


.pt {
    padding-top: 19px !important;
}

i#icon-balance {
    font-size: 200px;
    transition: 1s;
}

#div-icono-balance{
    text-align: center;
}

#btn-cierre {
    width: 100%;
    background-color: darkcyan;
}
#btn-cierre:hover {
    background-color: cornflowerblue;
}




.audios{
    display: none
    }




/* estilo claro

#contenedor h1, #contenedor td, #contenedor th, td > a, #contenedor div, input {
    color: black !important;
}


#contenedor {
    background: gainsboro;
}

#div-sumador {
    border: none;
    background-color: cadetblue;
}



*/


