* {
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: Fake Receipt W90 Regular; */
    font-weight: 550;
    /* font-family: 'Times New Roman'; */
}

td,
th,
tr,
table {
    /* border-top: 1px solid black; */
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
    overflow-wrap: break-word;
}

td.cantidad,
th.cantidad {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}

span#tit1 {
    font-size: 16px;
}

span#tit2 {
    font-size: 36px;
}

#titulo {
    text-align: center;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 7px;
}

button {
    font-size: 20px;
    width: 100%;
    font-weight: normal;
}

@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
}



table {
    width: 100%;
}
tbody {
border-top: 1px solid black;
}

.rowvalores {
    border-bottom: 1px solid black;
}

.rowvalores td {
    padding-bottom: 4px;
}

.tdtotal {
    text-align: right;
}

#total {
    font-size: 14px;
    /* text-align: right; */
}
#totales {
    font-size: 11px;
    /* text-align: right; */
}