/* input, img, button {
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.64);
} */
body {
    background: rgb(14, 39, 62);
}

h1 {
    text-align: center;
}

input {
    text-align: center;
}

.lam {
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0rem 0.5625rem 0.9375rem 0.3125rem rgba(0,0,0,0.64);
    background: #1c354c;
}

#formulario {
    max-width: 16.25rem;
}

.flex-container {
    display: flex;
    justify-content: center;
}

/* .form-control[readonly] {
    background-color: rgb(255, 255, 255) !important;
} */